@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
.hintergrund {
    background-color: beige;
}

.container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

a {
    font-family: 'Amatic SC', cursive;
    font-size: 3rem;
    color: darkcyan;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 6rem;
    text-align: left;
    font: bolder;
    color: maroon;
}

h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
    text-align: right;
    color: maroon;
}